body {
    background-color: whitesmoke;
    font-size: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

input, button {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid black;
}

button {
    background-color: darkgrey;
}
