body {
    background-color: whitesmoke;
    font-size: 16px;
    width: 300px;
}

form, label {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

input, button, div {
    padding: 12px;
    margin: 6px;
    border-radius: 6px;
}

button {
    background-color: darkgrey;
    cursor: pointer;
}

button:hover {
    background-color: grey;
}

div {
    background-color: lightgrey;
}
